@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Roboto&family=Waiting+for+the+Sunrise&display=swap');

* {
    border: none; 
    margin: 0; 
    padding: 0; 
    text-decoration: none; 
}

body {
    background-color: #fff5ed; 
    color: #025; 
    font-family: Roboto, sans-serif; 
}

/* header */

#header-container {
    margin: 15px auto; 
    width: 95%;
}

/* compass logo */

.container {
    border: 2px solid #025;; 
    box-sizing: border-box; 
    display: inline-block;
    height: 150px; 
}

 #compass-container {
    background-color: #88aee1; 
    position: relative; 
    width: 15%;     
}

/* absolute positioning used for compass logo within the box as using padding to vertically centre the compass within the box creates issues with applying the border */
#compass-logo {
    animation: rotation 30s infinite linear; /* added for compass rotation animation */
    border: 5px solid #d2b48c;
    border-radius: 50%;
    height: 120px;
    left: 50%;
    margin: -65px 0 0 -65px; 
    position: absolute; 
    top: 50%; 
    width: 120px; 
} 

/* compass rotation animation */
@keyframes rotation {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(359deg);
    }
}

/* oz hacks logo */

#ozhacks-container {
    background-color: #dc9c85; 
    border-left: none;
    margin-left: -4px; 
    overflow: hidden; 
    padding: 30px 0 40px 0; 
    text-align: center; 
    width: 35%; 
}

h1, h2 {
    color: #025;
    font-family: 'Fontdiner Swanky', cursive; 
    text-transform: uppercase; 
}

#ozhacks-container p {
    text-decoration: overline #ac2c00 solid 2px; 
}

/* navigation bar */

#navbar-container {
    background: #ac2c00 url("../../assets/images/header/uluru_wide.jpg") center / cover no-repeat scroll; 
    border-left: none; 
    margin-left: -4px;  
    overflow: hidden;
    text-align: center; 
    width: 50%; 
}

nav li {
    display: inline-block; 
    margin: 15px 10px 0 0;
}

nav a {
    color: #fff5ed; 
    font-weight: bold; 
}

.links a:hover, 
.links a:focus {
    font-style: italic; 
}

.links a:visited {
    color: #025; 
}

/* footer */

#footer-container {
    background: #88aee1;
    bottom: 0;  
    height: 17vh; 
    position: absolute; 
    width: 100vw;
}

table {
    margin: 5px auto; 
    text-align: center; 
    width: 100%; 
}




