@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Roboto&family=Waiting+for+the+Sunrise&display=swap');

* {
    border: none; 
    margin: 0; 
    padding: 0; 
    text-decoration: none; 
}

body {
    background-color: #fff5ed; 
    color: #025; 
    font-family: Roboto, sans-serif; 
}

/* header */

header {
    background-image: linear-gradient(to right, #dc9c85, #daa285, #d8a886, #d5ae88, #d2b48c);
    height: 150px;  
} 

.container {
    box-sizing: border-box;
    display: inline-block;
    height: 150px; 
}

/* compass logo */

 #compass-container { 
    position: relative;
    width: 15%;  
}

/* absolute positioning of the compass logo offers better consistency across most different device sizes than using text-align: center to horizontally centre and padding to 
vertically centre which also pushes the oz hacks div and nav bar div downwards out of alignment with the header bar */

#compass-logo {
    animation: rotation 30s infinite linear; /* added for compass rotation animation */
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #88aee1; 
    height: 120px;
    left: 50%;
    margin: -60px 0 0 -60px; 
    position: absolute; 
    top: 50%; 
    width: 120px;
} 

/* compass rotation animation */
@keyframes rotation {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(359deg);
    }
}

/* oz hacks logo */

#ozhacks-container {
    margin-left: -4px; 
    overflow: hidden; 
    padding: 32px 0 38px 0;
    text-align: center;
    width: 35%; 
}

h1, h2 {
    color: #025;
    font-family: 'Fontdiner Swanky', cursive; 
    text-transform: uppercase; 
}

#ozhacks-container p {
    text-decoration: overline #ac2c00 solid 2px; 
}

/* navigation bar */

#navbar-container {
    border-left: none; 
    margin-left: -4px;  
    overflow: hidden;
    text-align: center; 
    width: 50%; 
}

nav li {
    display: inline-block; 
    margin: 15px 10px 0 0;
}

nav a {
    color: #fff5ed; 
    font-weight: bold;
}

.links a:hover, 
.links a:focus {
    font-style: italic; 
}

.links a:visited {
    color: #025; 
} 

/* footer */

footer {
    background: #88aee1;
    bottom: 0;  
    height: 100px; 
    position: absolute;
    width: 100vw;
}

.icon-links {
    text-align: center; 
    padding: 35px 0; 
} 

.icon-links > li { 
    font-size: 160%; 
    display: inline; 
    padding: 0 7%; 
}


